# Python / venv
venv/
.venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.DS_Store



# Streamlit
.streamlit/secrets.toml
.streamlit/*.log

# プロジェクト直下の logs/ を無視
/logs/
nohup.out
**/bot.log
bot.log
log_bot.txt

# lib/logs 内のログも無視
lib/logs/*.log
lib/logs/*.jsonl
lib/logs/*.sqlite3
lib/logs/*.sqlite3-shm
lib/logs/*.sqlite3-wal

# lib/logs/ 内の Python ファイルは無視しない
!lib/logs/*.py


# ===============================
# キャッシュ / ノートブック
# ===============================
.ipynb_checkpoints/
.cache/

# ===============================
# 大きなデータ
# ===============================
data/*.zip
data/raw/*

/develop/

# ===============================
# データベース（全て無視）
# ===============================
database/

# ===============================
# ログ
# ===============================
logs/
log_bot.txt
log_*.txt